

/* STYLES */
body{
    background-color: rgb(255, 250, 227);
    color: rgb(255, 156, 36);
    font-family: cherry bomb one;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(242, 94, 19);
}

footer {
    margin-top: auto;    
    width: 100%;
    text-align: center;
}

.dev:link, .dev:visited {
    text-decoration: none;
    color: rgb(242, 94, 19);
}

.dev:hover {
    color: rgb(255, 156, 36);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-top: 100px;
}

.card-timer p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.start-button {
    outline: none; 
    border: none; 
    background-color: rgb(242, 94, 19); 
    padding: 5px; 
    color: rgb(255, 250, 227); 
    width: 100px; 
    font-size: 30px; 
    font-family: 'Cherry Bomb One', cursive; 
    border-radius: 25px;
}

button:hover {
    background-color: rgb(255, 156, 36);
}

.ampulheta:hover {
    filter: grayscale(50%);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
